################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Initial Prototype/ConsoleApp1/.vs/ConsoleApp1
/Initial Prototype/ConsoleApp1/bin/Debug/Date_intrare/.vs/ConsoleApp1/v17
